<!-- prettier-ignore -->
{% extends "base.html" %} 

{% block header %}
<h1>My First Article</h1>
<time datetime="2024-08-07">August 7, 2024</time>
{% endblock %} {% block main %}
<article class="content">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu
    hendrerit risus. Maecenas risus mi, hendrerit vel dui id, finibus dignissim
    orci. Quisque vehicula tempus magna, sit amet tristique lectus consequat
    eget. Sed bibendum turpis sit amet eros vulputate euismod. Fusce a dapibus
    turpis, a imperdiet mi. Proin mi ante, tristique varius scelerisque ut,
    sollicitudin in orci. Morbi efficitur felis erat, ut pellentesque sem
    sagittis sit amet. Vivamus aliquam libero at maximus finibus. In convallis
    efficitur nunc non sagittis. Etiam ut ante magna. Nunc in ante sed augue
    lacinia vehicula quis id nibh. Nam vitae risus quis neque commodo
    condimentum. Vestibulum gravida porta est, sed pulvinar nisi porttitor quis.
    Sed finibus arcu malesuada, venenatis nulla id, faucibus augue. Fusce congue
    venenatis metus, ac blandit lorem faucibus eget. Proin et semper nisi. Proin
    ac malesuada tellus. Ut tortor ligula, mollis vitae tristique quis,
    convallis quis felis. Maecenas a leo sit amet est placerat pretium. Etiam
    posuere non orci sagittis mattis. Aliquam erat volutpat. Sed suscipit nulla
    vitae rutrum gravida. Vivamus mollis egestas nibh, sed maximus enim varius
    ac. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Donec vel enim sed ex tristique Aenean Nunc finibus, felis ac
    condimentum blandit, enim nibh blandit lectus, eu pellentesque augue quam
    eget augue. Sed gravida dignissim magna, convallis mollis diam congue nec.
    Donec pharetra bibendum enim sed lobortis.
  </p>
</article>
{% endblock %}
