<!-- prettier-ignore -->

{% extends "base.html" %} 

{% block style %}
{{ super() }}
<link rel="stylesheet" href="/static/article.css" />
{% endblock%}

<!-- prettier-ignore -->

{% block header %}
<h1>New Article</h1>
{% endblock %} {% block main %}
<form>
  <input
    class="input-box"
    type="text"
    name="artitle-title"
    placeholder="Article Title"
  />
  <input
    class="input-box"
    type="date"
    name="publishing-date"
    placeholder="Publishing Date"
  />
  <textarea class="input-box" name="content" placeholder="Content"></textarea>
  {% block submit_button %}
  <input type="submit" value="Publish" />
  {% endblock %}
</form>
{% endblock %}
